@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-poppins;
}

.react-calendar {
  width: 100%;
}

.react-calendar__month-view__weekdays {
  text-transform: unset;
}

.react-calendar__tile--active {
  background: #df0001 !important;
}

.react-calendar__month-view__days__day--weekend {
  color: unset;
}
