@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-poppins;
}

.fade-enter {
  opacity: 0;
  transform: translateX(100%); /* Start from the right */
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0); /* Move to its original position */
  transition: opacity 300ms, transform 300ms; /* Apply the transition */
}

.fade-exit {
  opacity: 1;
  transform: translateX(0); /* Start from the original position */
}

.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%); /* Move to the left */
  transition: opacity 300ms, transform 300ms; /* Apply the transition */
}

.react-calendar {
  width: 100%;
}
